<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @jobs_career.surname %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @jobs_career.middle_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @jobs_career.first_name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @jobs_career.prefix %>
</p>

<p>
  <strong>Position applied for:</strong>
  <%= @jobs_career.position_applied_for %>
</p>

<p>
  <strong>Email:</strong>
  <%= @jobs_career.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @jobs_career.country %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @jobs_career.date_of_birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @jobs_career.sex %>
</p>

<p>
  <strong>Qulification:</strong>
  <%= @jobs_career.qulification %>
</p>

<p>
  <strong>State:</strong>
  <%= @jobs_career.state %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @jobs_career.contact_address %>
</p>

<p>
  <strong>Self description:</strong>
  <%= @jobs_career.self_description %>
</p>

<p>
  <strong>Proposed pay:</strong>
  <%= @jobs_career.proposed_pay %>
</p>

<p>
  <strong>Portfolio function:</strong>
  <%= @jobs_career.portfolio_function %>
</p>

<%= link_to 'Edit', edit_jobs_career_path(@jobs_career) %> |
<%= link_to 'Back', jobs_careers_path %>
