
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "HOLLY19.JPG" %>
      <div class="container">
        <div class="carousel-caption">
          <h1> Refineries .</h1>
          <p> Properly and well refined products </p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "oiltruck.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>  Oil Trucks .</h1>
          <p> No matter the Quantity you desire.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "fs.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Filling Stations .</h1>
          <p> Some of our LPGs (Selling Points). </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="index.html#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="index.html#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="container">


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9">
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag "oag.png", :style => "height:140px; width: 140px;", :class => "img-circle" %>
          <h2>Oil &amp; Gas </h2>
          <p>We provide oil and gas to any part of the country on order in any quantity ordered by our client. we do this so efficient that our delivery is commended by all our clients. </p>
          <p><a class="btn btn-default" href="<%= products_index_path %>">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "sr.png", :class => "img-circle", :style => "height:140px; width: 140px;" %>
          <h2> Social Responsibilities </h2>
          <p>We make sure that we impact in a positive way on schools that needs us the most by allowing people to vote for the school in which they feel that our help is needed the most... .</p>
          <p><a class="btn btn-default" href="<%= social_responsibility_index_path %>">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "jobs.jpg", :class => "img-circle", :style => "height:140px; width: 140px;" %>
          <h2> Job Opportunities </h2>
          <p>Here in Sirkings oil and gas, we employ young and talented individual who are driven by passion to fufil their desires .</p>
          <p><a class="btn btn-default" href="<%= new_jobs_career_path %>">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->




    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="news-feed">
          <% if @news.empty? %>
          <P>no news available for this region now </P>
          <% else %>
              <div class="recent-news">
                <h4 style="border-bottom: 2px solid #563d7c; ">Showing most recent news</h4>
                <% for new in @news %>
                    <a href="<%= news_path(new) %>">
                   <div>
                     <%= image_tag new.photo.url(:thumb), :class => "pull-left" %>
                     <span style="font-weight: bold;"> <%= new.title %> </span> <br />
                     <span> <%= truncate(new.news_content) %> </span>

                   </div>
                    </a> <br />
                <% end %>
              </div>
          <% end %>
        </div>

    </div>
  </div>

</div>

