<div class="bs-header" id="content">
  <div class="container">
    <h1> Showing most recent news </h1>
    <p>Sir kings brings to you all available and related news to oil and gas and other sectors of the economy. also our current progress in our project works are part of the news submitted. </p>

  </div>
</div>
<div class="container">
  <% @news.each do |news| %>
    <div class="news-display col-lg-12">
      <%= image_tag news.photo.url(:thumb), :class => "pull-left" %>
       <h1> <%= news.title %>  </h1>
       <p><%= news.news_content %>   </p>
      <br>
     <span class="pull-left"> <%= news.external_link %> </span>
        <%= link_to 'Show', news %>
        <%= link_to 'Edit', edit_news_path(news) %>
    </div>
    <% end %>


  <%= paginate @news %>
</div>

<br>

<%= link_to 'New New', new_news_path %>
