<div class="bs-header" id="content">
  <div class="container">
    <h1><%= @news.title %> </h1>
    <p><%= truncate(@news.news_content) %> </p>

  </div>
</div>
<div class="container">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag @news.photo, :class => "featurette-image img-responsive" %>
    </div>
    <div class="col-md-7">
      <h2 class=""><%= @news.title %><span class="text-muted"><a href="<%= @news.external_link %>" target="_blank"> <%= @news.external_link %> </a></span></h2>
      <p class="lead"><%= @news.news_content %></p>
    </div>

  </div>
    <br />
    <%= link_to 'Back', news_path, :class => "btn btn-primary" %>
</div>
<br>