<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="sirkings, oil and gas, oil, ago, diesel, kerosine, parafin, fuel, petrol, supply ">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">

  <title>SirkingsOil&amp;gas</title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="navbar" id="top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_url %>">Sirkings Oil &amp; Gas </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="<% if controller_name == "welcome" %>active<% end %>"><a href="<%= root_url %>">Home</a></li>
      <li class="<% if controller_name == "about_us" %>active<% end %>"><a href="<%= about_us_index_path %>">About Us</a></li>
      <li class="<% if controller_name == "contact" %>active<% end %>"><a href="<%= contact_index_path %>">Contact Us</a></li>
      <li class="<% if controller_name == "products" %>active<% end %>"><a href="<%= products_index_path %>"> Products </a></li>
      <li class="<% if controller_name == "jobs_careers" %>active<% end %>"><a href="<%= new_jobs_career_path %>"> Jobs/Career </a></li>
      <li class="<% if controller_name == "social_responsibility" %>active<% end %>"><a href="<%= social_responsibility_index_path %>"> Social Responsibility </a></li>
      <li class="<% if controller_name == "management_team" %>active<% end %>"><a href="<%= management_team_index_path %>"> management team  </a></li>
      <li class="<% if controller_name == "news" %>active<% end %>"><a href="<%= news_index_path %>"> News   </a></li>
    </ul>
  </div>
</div>

    <%= yield %>


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#top">Back to top</a></p>
    <p>&copy; 2013 Sirkings, Inc. &middot; <a href="<%= privacy_index_path %>">Privacy</a> &middot; <a href="<%= terms_index_path %>">Terms</a></p>
  </footer>
</body>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
